---
layout: default
bodyClass: home
excerpt: Aspire Themes is a place for clean and minimal themes for WordPress and Ghost platforms. I care so much about design, little details, and clean interfaces that are functional and easy to use.
---

<div class="grey-bg hero">
  <div class="row">
    <div class="column large-12">
      <h3 class="hero__tagline">{{ site.description }}</h3>
    </div>
  </div>
</div>

<div class="wrapper">

  <div class="row">
    <div class="column large-12">
      <h5 class="separator margin-top-none">
        <span class="separator-title">Themes</span>
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="themes-list">

      {% for post in site.categories.themes limit:4 %}
        {% unless post.draft %}
          {% include theme-card.html %}
        {% endunless %}
      {% endfor %}

    </div>
  </div>

  <div class="row">
    <div class="column large-12">
      <a class="button button--expand button--large" href="/themes">View All Themes<div data-icon="ei-chevron-right" data-size="s"></div></a>
    </div>
  </div>

</div>