---
layout: default
---

<div class="grey-bg hero">
  <div class="row">
    <div class="column large-12">
      <h3 class="hero__tagline">{{ site.description }}</h3>
    </div>
  </div>
</div>

<div class="wrapper">

  <div class="row">
    <div class="column large-12">
      <h5 class="separator">
        <span class="separator-title">Themes</span>
      </h5>
    </div>
  </div>

  <div class="row">
    <div class="themes-list">

      {% for post in site.categories.theme %}
      {% include theme-card.html %}
      {% endfor %}

      <article class="theme-card-wrap column medium-6 large-6" itemscope="" itemtype="http://schema.org/BlogPosting">
        <div class="theme-card theme-card">
        </div>
      </article>

    </div>
  </div>

</div>