<div class='row'>
  <div class='column large-12'>
    <h5 class='separator margin-top-none margin-bottom-none'>
      <span class='separator-title'>{{ include.type }}</span>
    </h5>
  </div>

  {% for doc in site.docs %}
    {% unless doc.draft %}
      {% if doc.type == include.type %}
        {% include docs-card.html %}
      {% endif %}
    {% endunless %}
  {% endfor %}
</div>