<footer class="site-footer">
  <div class="row">

    <div class='site-footer__top clearfix'>
      <div class='site-footer__section column medium-3 large-4'>
        <h3 class="footer-nav-heading">Aspire</h3>
        <ul class="list-bare footer-nav">
          <li><a href="/about" class="footer-nav-link">About Aspire</a></li>
          <li><a href="/themes" class="footer-nav-link">Theme Collection</a></li>
          <li><a href="/customization" class="footer-nav-link"><span class="success-color">&bull; </span>Need custom services?</a></li>
        </ul>
      </div>

      <div class='site-footer__section column medium-3 large-4'>
        <h3 class="footer-nav-heading">Resources</h3>
        <ul class="list-bare footer-nav">
          <li><a href="/docs" class="footer-nav-link">Documentation</a></li>
          <li><a href="http://themeforest.net/user/aspirethemes" target="_blank" class="footer-nav-link">ThemeForest</a></li>
          <li><a href="https://creativemarket.com/aspirethemes" target="_blank" class="footer-nav-link">Creative Market</a></li>
        </ul>
      </div>

      <div class='site-footer__section column medium-3 large-4'>
        <h3 class="footer-nav-heading">Follow</h3>
        <ul class="list-bare footer-nav">
          <li><a href="/blog" class="footer-nav-link">Blog</a></li>
          <li><a href="http://www.twitter.com/aspirethemes" target="_blank" class="footer-nav-link">Twitter</a></li>
          <li><a href="https://www.facebook.com/aspirethemes" target="_blank" class="footer-nav-link">Facebook</a></li>
        </ul>
      </div>
    </div>

    <div class="column large-12">
      <div class="site-footer__bottom text-center">
        <div class="font-tiny">
          Copyright &copy; 2016 {{ site.title }}
        </div>
      </div>
    </div>

  </div>
</footer>