<header class='site-header'>
  <div class='row'>

    <div class='column small-8 medium-3 large-3'>
      <h1 class='site-header__logo logo'>
        <a class='site-title' href='{{ site.baseurl }}/'>{{ site.title }}</a>
      </h1>
    </div>

    <label class='off-canvas-toggle'><span data-icon='ei-navicon' data-size='s'></span></label>

    <div class='off-canvas-content'>

      <div class='column medium-6 large-6'>
        <ul class='nav'>
          <li class='nav__item'><a class='nav__link' href='/about'>About</a></li>
          <li class='nav__item'><a class='nav__link' href='/themes'>Themes</a></li>
          <li class='nav__item'><a class='nav__link' href='/docs'>Documentation</a></li>
          <li class='nav__item'><a class='nav__link' href='/blog'>Blog</a></li>
        </ul>
      </div>

      <div class='column medium-3 large-3'>
        <ul class='social-nav list-bare'>
          <li class='social-nav__item'>
            <a href='{{ site.twitter }}' target='_blank'>
              <span class='social-nav__icon' data-icon='ei-sc-twitter' data-size='s'></span>
            </a>
          </li>
          <li class='social-nav__item'>
            <a href='{{ site.facebook }}' target='_blank'>
              <span class='social-nav__icon' data-icon='ei-sc-facebook' data-size='s'></span>
            </a>
          </li>
          <li class='social-nav__item'>
            <a href='{{ site.github }}' target='_blank'>
              <span class='social-nav__icon' data-icon='ei-sc-github' data-size='s'></span>
            </a>
          </li>
          <li class='social-nav__item'>
            <a href='{{ site.mailto }}' target='_blank'>
              <span class='social-nav__icon' data-icon='ei-envelope' data-size='s'></span>
            </a>
          </li>
        </ul>
      </div>

    </div><!-- off-canvas-content -->

  </div><!-- row -->
</header>