<header class="site-header">

  <div class="row">

    <div class="column small-8 medium-3 large-3">
      <h1 class="site-header__logo logo">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>
    </div>

    <label class="off-canvas-toggle"><span data-icon="ei-navicon" data-size="s"></span></label>

    <div class="off-canvas-content">

      <div class="column medium-6 large-6">
        <nav class="site-header__navigation">
          <ul class="list-bare text-center">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            <li>
              <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
            <li><a href="/blog">Blog</a></li>
            <li><a href="/docs">Documentation</a></li>
          </ul>
        </nav>
      </div>

      <div class="column medium-3 large-3">
        <ul class="site-header__social-nav social-icons list-bare">
          <li>
            <a href="http://www.twitter.com/aspirethemes" target="_blank">
              <span data-icon="ei-sc-twitter" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/groups/867070746738197/" target="_blank">
              <span data-icon="ei-sc-facebook" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="https://github.com/aspirethemes" target="_blank">
              <span data-icon="ei-sc-github" data-size="s"></span>
            </a>
          </li>
          <li>
            <a href="mailto:aspirethemes@gmail.com" target="_blank">
              <span data-icon="ei-envelope" data-size="s"></span>
            </a>
          </li>
        </ul>
      </div>

    </div><!-- off-canvas-content -->

  </div><!-- row -->

</header>