<form action="//aspirethemes.us12.list-manage.com/subscribe/post?u=9723f3c5c3a2637fbba3bc673&amp;id=7b50db9989" method="post" target="_blank">
  <div class="row">
    <div class='column small-8 medium-7 large-7 padding-right-none'>
      <input type="email" name="EMAIL" placeholder="Your email">
    </div>
    <div class='column small-4 medium-5 large-5 padding-left-none'>
      <input type="submit" class="button button--expand button--success button--prefix" value="Subscribe">
    </div>
  </div>
</form>