<article class="theme-card-wrap column medium-6 large-6" itemscope="" itemtype="http://schema.org/BlogPosting">
  <div class="theme-card theme-card">

    {% if post.free %}
    <span class="theme-card__label">Free</span>
    {% endif %}

    <a href="{{ post.url | prepend: site.baseurl }}" class="block" title="{{ post.title }}">
      <div class="grey-bg theme-card__image theme-card__image--has-outline CoverImage FlexEmbed FlexEmbed--16by9 " style="background-image: url({{ post.image }})">
        <span title="Featured Post">
          <span class="theme-card--featured__icon hide" data-icon="ei-star" data-size="s"></span>
        </span>
      </div>
    </a>

    <h2 class="theme-card__title">
      <a itemprop="name" title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">
        <span itemprop="headline">{{ post.title }}</span>
      </a>
    </h2>

  </div>
</article>