<div class="theme-card-wrap column medium-6 large-6">
  <div class="theme-card theme-card">

    {% if post.free %}
    <span class="theme-card__price font-medium">Free</span>
    {% endif %}

    {% if post.price %}
    <span class="theme-card__price"><sub>$</sub>{{ post.price }}</span>
    {% endif %}

    <a href="{{ post.url | prepend: site.baseurl }}" class="block" title="{{ post.title }}">
      <div class="grey-bg theme-card__image CoverImage FlexEmbed FlexEmbed--4by3" style="background-image: url(/{{ post.thumbnail }})">
      </div>
    </a>

    <h2 class="theme-card__title">
      <a title="{{ post.title }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.name }}</a>
    </h2>

  </div>
</div>