//---------------------------
// Break Points
//---------------------------

$mq-breakpoints: (
    mobile:  320px,
    tablet:  640px,
    desktop: 1024px
);

// $mq-show-breakpoints: (mobile, tablet, desktop, wide);