//---------------------------
// Colors
//---------------------------

$color__type: #222222;
$color__type--hover: #7E7E7E;
$brand-color: #f2132d;

$body-color: #333;
$grey-bg: #FAFAFA;
$grey--dark-bg: #bdc3c7;
$border-color: #ECF0F1;

$twitter-brand: #55acee;
$twitter-brand--hover: #1E8BC3;
$facebook-brand: #3b5998;
$google-brand: #dc4e41;

$success-color: #1abc9c;

$input-border-color: #7B8994;
$input-border-color--focus: $color__type--hover;