//---------------------------
// Colors
//---------------------------

$color__type: #222;
$color__type--hover: #7E7E7E;

$grey-bg: #FAFAFA;
$grey--dark-bg: #bdc3c7;

$info-color: #207cdf;
$info-color--hover: #238cf6;

$success-color: #1abc9c;
$success-color--hover: #16a085;

$border-color: #ECF0F1;
$input-border-color: #7B8994;
$input-border-color--focus: $color__type--hover;