//---------------------------
// Navigation
//---------------------------

.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;

  &__item {
    font-family: $font__sans-serif;
    font-size: $font-size__small;
    line-height: $line-height__base;

    @include mq($from: tablet) {
      display: inline-block;
      margin-right: quarter($line-height__base);

      &:last-child { margin-right: 0; }
    }

    @include mq($from: desktop) {
      margin-right: half($line-height__base);
    }
  }

  &__link {
    transition: $base-transition-speed;

    @include mq($until: tablet) {
      display: block;
      padding-top: quarter($line-height__base);
      padding-bottom: quarter($line-height__base);
      border-bottom: 1px solid $border-color;
    }
  }

  @include mq($until: tablet) {
    margin-bottom: quarter($line-height__base);
  }
}

.social-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;

  @include mq($until: tablet) {
    text-align: center;
  }

  &__item {
    display: inline-block;
    line-height: $line-height__base;
  }

  &__icon {
    vertical-align: middle;
    fill: $color__type;
    transition: $base-transition-speed;

    &:hover { fill: $color__type--hover; }
  }
}