//---------------------------
// Sidebar
//---------------------------

.button,
a.button {
  display: inline-block;
  text-align: center;
  padding: quarter($line-height__base) half($line-height__base);
  font-family: $font__sans-serif;
  font-size: $font-size__tiny;
  line-height: $line-height__medium;
  letter-spacing: 1px;
  border: 0;

  text-decoration: none;
  color: $color__type;
  background-color: #fff;
  border: 1px solid $border-color;
  transition: $base-transition-speed;

  &:active,
  &:focus,
  &:hover {
    color: $color__type;
    background-color: $grey-bg;
  }

  &--success {
    color: #fff;
    background-color: #1abc9c;
    border: 1px solid #1abc9c;

    &:active,
    &:focus,
    &:hover {
      color: #fff;
      background-color: #16a085;
      border: 1px solid #16a085;
    }
  }

  &--expand {
    width: 100%;
  }

  &--prefix {
    position: relative;
    left: -1px;
  }

  &--twitter {
    color: #fff;
    background-color: $twitter-brand;

    .icon {
      margin-right: 5px;
      vertical-align: middle;
      fill: #fff;
    }

    &:hover {
      color: #fff;
      background-color: $twitter-brand--hover;
    }
  }

  &--outline {
    border: 1px solid $color__type;
    background-color: #fff;
    color: $color__type;
  }

  &--small {
    padding: quarter($line-height__small) half($line-height__small);
    line-height: $line-height__small;
  }

  &--large {
    padding: half($line-height__base) ($line-height__base);
    font-size: $font-size__small;
    line-height: $line-height__medium;
  }
}