//---------------------------
// Forms
//---------------------------

input[type='text'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='number'],
input[type='email'],
textarea,
select {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  display: inline-block;
  border: 1px solid $input-border-color;
  box-sizing: border-box;
  padding: quarter($line-height__base) half($line-height__base);
  font-family: $font__sans-serif;
  font-size: $font-size__small;
  line-height: $line-height__medium;
  letter-spacing: 1px;

  outline: none;
  background: transparent;
  appearance: none;
  border-radius: 0;
  transition: $base-transition-speed;

  &:focus {
    border: 1px solid $color__type--hover;
  }

  // Disable Auto Zoom in Input “Text” tag - Safari on iPhone
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    font-size: $font-size__medium;
  }
}

select {
  background-image: url(images/icon-form-dropdown.svg);
  background-size: 7px 14px;
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: $line-height__medium;
  appearance: none;
}