//---------------------------
// Grid
//---------------------------

$total-columns:   12;
$base-space-unit: 1em;
$row-max-width:   1100px;

// gridCalc(1, 12) => 8.33333%

@function gridCalc($columnNumber, $totalColumns) {
  @return percentage($columnNumber / $totalColumns);
}

.row {
  margin: 0 auto;
  padding-left: half($line-height__medium);
  padding-right: half($line-height__medium);
  max-width: $row-max-width;

  @include clearfix();

  .row {
    padding: 0;
    margin-right: - half($line-height__medium);
    margin-left:  - half($line-height__medium);

    @include mq($from: desktop) {
      margin-right: - half($line-height__base);
      margin-left:  - half($line-height__base);
    }
  }

  @include mq($from: desktop) {
    padding-left: half($line-height__base);
    padding-right: half($line-height__base);
  }

  &--full { max-width: 100%; }

  &--collapse {
    margin-left: half($line-height__medium);
    margin-right: half($line-height__medium);

    @include mq($from: desktop) {
      margin-right: half($line-height__base);
      margin-left: half($line-height__base);
    }

    .column {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

.column {
  position: relative;
  float: left;
  padding-right: half($line-height__medium);
  padding-left: half($line-height__medium);
  width: 100%;

  @include mq($from: desktop) {
    padding-right: half($line-height__base);
    padding-left: half($line-height__base);
  }
}

.column--center {
  float: none;
  margin: 0 auto;
}

@media only screen {
  @for $i from 1 through $total-columns {
    .small#{-$i} {
      width: gridCalc($i, $total-columns);
    }
  }
}

@include mq($from: tablet) {
  @for $i from 1 through $total-columns {
    .medium#{-$i} {
      width: gridCalc($i, $total-columns);
    }
  }
}

@include mq($from: desktop) {
  @for $i from 1 through $total-columns {
    .large#{-$i} {
      width: gridCalc($i, $total-columns);
    }
  }
}