//---------------------------
// Media
//---------------------------

img,
iframe { display: block; }

img {
  height: auto;
  max-width: 100%;
}

.post__content {
  iframe,
  .twitter-tweet {
    margin-bottom: $line-height__medium !important;

    @media #{$medium-down} { margin-bottom: $line-height__small; }
  }

  p img { margin-bottom: 0; }

  img {
    margin: 0 auto;
    padding: half(half($line-height__base));
    background-color: $grey-bg;

    @media #{$medium-up} { padding: half($line-height__base); }

    @media #{$large-up} { padding: $line-height__base; }
  }
}

.border-less-image-wrap img { padding: half(half($line-height__base)); }

.darker-bg-image-wrap img { background-color: $grey--dark-bg; }

.CoverImage {
  max-height: 600px;
  max-width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &--center { background-position: center; }
}