//---------------------------
//
// Post Meta
//
//---------------------------

.post__tags {
  margin-bottom: $line-height__base;
  font-size: $font-size__small;

  a {
    padding: ($line-height__small / 4) ($line-height__small / 2);
    margin-right: $line-height__base / 4;

    font-size: $font-size__tiny;
    line-height: $line-height__small;

    color: $color__type--hover;
    border: 1px solid $border-color;
    text-decoration: none;
    transition: $base-transition-speed;

    &:before {
      content: "#";
      padding-right: 2px;
    }

    &:hover {
      color: $color__type;
      border-color: $color__type;
    }
  }
}

.heading {
  padding-bottom: $line-height__medium / 2;
  margin-top: $line-height__base;
  margin-bottom: $line-height__base;

  font-size: $font-size__medium;
  line-height: $line-height__small;
  letter-spacing: 1px;
  border-bottom: 1px solid $border-color;
}
