//---------------------------
// Post Card
//---------------------------

.post-card {
  margin-bottom: $line-height__medium;
  padding-bottom: $line-height__medium;
  border-bottom: 1px solid $border-color;

  &__image {
    margin-bottom: half($line-height__base);
    transition: $base-transition-speed;

    @include mq($until: tablet) {
      margin-bottom: half($line-height__medium);
    }
  }

  &__title {
    font-size: $font-size__base;
    font-weight: $font-weight__light;
    line-height: $line-height__base;
    margin-bottom: 0;

    a { display: block; }
  }

  &__meta {
    margin-bottom: quarter($line-height__base);
    font-size: $font-size__tiny;
    line-height: $line-height__small;
    color: $color__type--hover;
  }
}

// Make post cards the same height

.post-list {
  display: -webkit-flex;
          display: flex;

  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;

  .post-card-wrap {
    display: -webkit-flex;
            display: flex;
  }

  .post-card {
    width: 100%;
  }
}