//---------------------------
//
// Post Card
//
//---------------------------

.post-card {
  margin-bottom: $line-height__medium;
  padding-bottom: $line-height__medium;

  border-bottom: 1px solid $border-color;

  &__image {
    margin-bottom: $line-height__base / 2;
    transition: $base-transition-speed;

    @media #{$medium-down} {
      margin-bottom: $line-height__medium / 2;
    }
  }

  &__title {
    font-size: $font-size__base;
    font-weight: $font-weight__light;
    line-height: $line-height__base;
    margin-bottom: 0;

    a { display: block; }
  }

  &__meta {
    margin-bottom: $line-height__base / 4;
    font-size: $font-size__tiny;
    line-height: $line-height__small;
    color: $color__type--hover;
  }
}

.docs-card {
  background-repeat: no-repeat;
  background-size: $line-height__medium;
  background-position: half($line-height__medium) center;

  @media #{$large-up} {
    background-size: $line-height__base;
    background-position: half($line-height__base) center;
    background-position: half($line-height__medium) center;
  }

  .post-card {
    margin: 0;
    padding-left: double($line-height__tiny);

    @media #{$large-up} {
      padding: $line-height__medium;
      padding-left: double($line-height__medium);
    }

    &:hover {
      background-color: transparent;
      border-color: $border-color;
    }
  }

  &.ghost {
    background-image: url('/images/assets/ghost-logo.png');
  }

  &.wordpress {
    background-image: url('/images/assets/wordpress-logo.png');
  }
}

// Make post cards the same height

.post-list {
  display: flex;
  flex-wrap: wrap;

  .post-card-wrap {
    display: flex;
  }

  .post-card {
    width: 100%;
  }
}