//---------------------------
//
// Post Card
//
//---------------------------

.post-card {
  padding: half($line-height__medium);
  border-bottom: 1px solid $border-color;
  transition: $base-transition-speed;

  &__title {
    font-size: $font-size__base;
    font-weight: $font-weight__light;
    line-height: $line-height__base;
    margin-bottom: 0;

    a { display: block; }
  }

  &__meta {
    margin-bottom: $line-height__base / 4;
    font-size: $font-size__tiny;
    font-style: italic;
    line-height: $line-height__small;
    color: $color__type--hover;
  }

  &:hover {
    background-color: $grey-bg;
    border-color: #fff;
  }

  .post-card-wrap:last-child & {
    border-bottom: 0;
  }
}