//---------------------------
// Testimonial
//---------------------------

.testimonial {
  padding: $line-height__medium;
  margin-bottom: $line-height__medium;
  position: relative;
  width: 100%;
  background-color: $grey-bg;

  &:after {
    position: absolute;
    left: 0%;
    bottom: - half($line-height__base);
    display: block;
    width: 0;
    content: "";
    border-width: half($line-height__base) half($line-height__base) 0 0;
    border-style: solid;
    border-color: $grey-bg transparent;
  }

  @media #{$medium-up} {
    padding: $line-height__base;
    margin-bottom: $line-height__base;
  }
}

.testimonials {
  .post-card-wrap {
    &:last-child .testimonial { margin-bottom: 0; }

    @media #{$medium-up} {
      &:nth-last-child(2) .testimonial {
        margin-bottom: 0;
      }
    }
  }
}