//---------------------------
//
// Theme Card
//
//---------------------------

.theme-card {
  position: relative;
  padding: $line-height__medium;
  margin-bottom: $line-height__medium;
  background-color: $grey-bg;

  @media #{$medium-up} {
    padding: $line-height__base;
    margin-bottom: $line-height__base;
  }

  &__image {
    margin-bottom: $line-height__medium;
    transition: $base-transition-speed;

    @media #{$medium-down} {
      margin-bottom: half($line-height__medium);
    }
  }

  &__title {
    font-size: $font-size__medium;
    font-weight: $font-weight__light;
    line-height: $line-height__medium;
    margin-top: 0;
    margin-bottom: 0;

    a {
      display: block;
      border-bottom: none;
      transition: $base-transition-speed;

      &:hover { color: $color__type--hover; }
    }
  }

  &__meta {
    margin-bottom: $line-height__base / 4;
    font-size: $font-size__tiny;
    font-style: italic;
    line-height: $line-height__small;
    color: $color__type--hover;

    a { color: $color__type--hover; text-decoration: none; }
  }

  &__label {
    position: absolute;
    bottom: $line-height__medium;
    right: $line-height__medium;

    line-height: $line-height__medium;
    min-width: double($line-height__medium);
    padding: 0 5px;

    font-size: $font-size__tiny;
    font-weight: $font-weight__light;
    font-family: $font__monospace;

    color: #fff;
    background: #009DF4;
    text-align: center;

    @media #{$medium-up} {
      bottom: $line-height__base;
      right: $line-height__base;
    }
  }

  &:hover {
    .theme-card__image {
      opacity: 0.8;
    }

    .theme-card__title a { color: $color__type--hover; }
  }
}

.themes-list {
  display: flex;
  flex-wrap: wrap;

  .theme-card-wrap {
    display: flex;
  }

  .theme-card {
    width: 100%;
  }
}