---
layout: default
---

<div class="wrapper">
  <div class="row">
    <div class="column column--center medium-9 large-9">
      <article>

        <header class="post__header">
          <h2 class="post__title">{{ page.title }}</h2>
          <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        </header>

        <div class="post-content">
          {{ content }}
        </div>

      </article>
    </div>
  </div>
</div>