//---------------------------
// Footer
//---------------------------

.site-footer {
  background-color: $grey-bg;

  @media #{$medium-down} {
    .site-footer__section {
      margin-bottom: half($line-height__base);

      &:last-child { margin-bottom: 0; }
    }
  }
}

.footer-nav-heading {
  margin-bottom: half($line-height__base);
  text-transform: uppercase;
  font-family: $font__sans-serif;
  font-size: $font-size__medium;
  letter-spacing: 1px;
  line-height: $line-height__medium;
}

.footer-nav-link {
  display: block;
  font-family: $font__sans-serif;
  font-size: $font-size__small;
}

.site-footer__top {
  padding: $line-height__base 0;

  @media #{$large-up} {
    padding: double($line-height__base) 0;
  }
}

.site-footer__bottom {
  border-top: 1px dotted $border-color;
  text-align: center;
  padding-top: half($line-height__base);
  padding-bottom: half($line-height__base);
}