//---------------------------
// Header
//---------------------------

.logo {
  line-height: $line-height__base;
  font-size: $font-size__medium;

  a {
    font-weight: $font-weight__light;
    letter-spacing: 1px;
  }
}

.site-header {
  padding: half($line-height__medium) 0;
  background-color: $grey-bg;
  line-height: $line-height__medium;

  .home & { border-bottom: 1px solid $border-color; }

  &__logo {
    margin-bottom: 0;
    line-height: $line-height__base;
    font-weight: $font-weight__regular;
    @media #{$medium-down} {
      line-height: $line-height__medium;
    }
  }

  @media #{$large-up} {
    padding: half($line-height__base) 0;
  }
}