//---------------------------
// Hero
//---------------------------

.hero {
  padding: double($line-height__base) 0;
  text-align: center;

  @media #{$medium-up} {
    padding: quadruple($line-height__tiny) 0;
  }

  @media #{$large-up} {
    padding: quadruple(double($line-height__tiny)) 0;
  }

  &__tagline {
    margin: 0;
    font-size: $font-size__base;
    font-family: $font__serif;
    font-weight: $font-weight__light;

    @media #{$large-up} {
      font-size: double($font-size__tiny);
    }
  }
}