//---------------------------
// Post Page
//---------------------------

.post {
  &__header {
    margin-bottom: half($line-height__medium);
  }

  &__title {
    margin-bottom: half($line-height__medium);
    font-size: double($font-size__medium);
    line-height: double($line-height__medium);

    @media #{$medium-down} {
      font-size: double($font-size__tiny);
      line-height: $line-height__base;
    }
  }

  &__date {
    font-size: $font-size__small;
    line-height: $line-height__small;
    color: $color__type--hover;
  }

  &-content {
    a:not(.button) {
      background-image: linear-gradient(to bottom, $color__type, $color__type);
      text-shadow: -1px -1px 0 #FDFDFD, 1px -1px 0 #FDFDFD, -1px 1px 0 #FDFDFD, 1px 1px 0 #FDFDFD;
      background-repeat: repeat-x;
      background-size: 1px 1px;
      background-position: 0 96%;
      text-decoration: none;

      &:hover {
        background-image: linear-gradient(to bottom, $color__type--hover, $color__type--hover);
      }
    }
  }
}

.check-list {

  ul { padding: 0; }

  li {
    list-style: none;
    position: relative;
    padding-left: $line-height__base;

    &:after {
      content: '';
      display: block;
      position: absolute;

      top: 12px;
      left: 0;
      -webkit-transform: rotate(45deg) translate(0, -50%);
              transform: rotate(45deg) translate(0, -50%);

      width: 6px;
      height: 12px;

      border: solid #1abc9c;
      border-width: 0 1px 1px 0;
    }
  }
}