//---------------------------
// Theme
//---------------------------

.theme-hero {
  position: relative;
  border-bottom: 1px solid $border-color;
  padding: $line-height__base 0;

  @include mq($from: tablet) {
    padding: double($line-height__base) 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  @include mq($from: desktop) {
    height: calc(100vh - 65px);
  }

  &__title {
    margin-bottom: half($line-height__base);
    font-size: double($font-size__tiny);
    font-family: $font__serif;

    @include mq($from: tablet) {
      font-size: double($font-size__small);
    }

    @include mq($from: desktop) {
      font-size: double($font-size__base);
    }
  }

  &__description { margin-bottom: half($line-height__base); }
}

.theme-meta {
  padding: 0 $line-height__tiny;
  background-color: $grey-bg;
  font-family: $font__sans-serif;

  @include mq($from: tablet) {
    padding: 0 $line-height__medium;
  }

  @include mq($from: desktop) {
    padding: 0 $line-height__base;
  }

  li {
    padding: quarter($line-height__base) quarter($line-height__base) quarter($line-height__base) $line-height__small;
    border-bottom: 1px solid $border-color;
    font-size: $font-size__small;
    line-height: $line-height__medium;

    @include mq($from: tablet) {
      padding: half($line-height__base) half($line-height__base) half($line-height__base) $line-height__medium;
    }

    @include mq($from: desktop) {
      font-size: $font-size__medium;
      padding: half($line-height__base) half($line-height__base) half($line-height__base) $line-height__base;
    }

    &:last-child { border-bottom: 0; }
    &:after { top: 45%; }
  }
}